<script type="text/javascript">
	localStorage.setItem("education-custom-req-count", 0);
	localStorage.setItem("experience-custom-req-count", 0);
	localStorage.setItem("skills-custom-req-count", 0);
	localStorage.setItem("certifications-custom-req-count", 0);
</script>

<script type="text/javascript">
	function insertCustomReq(reqType){
		let varName = reqType + "-custom-req-count"
		let num = localStorage.getItem(varName);
		localStorage.setItem(varName, parseInt(num) + 1);
		
		let baseName = reqType + "-custom-req-" + num;
		let containerName = reqType + "-custom-requirements";
		document.getElementById(containerName).innerHTML += 
		"<label for="+baseName+" id="+baseName+"-label>Description: </label>" +
		"<input type=text id="+baseName+" name="+baseName+">" +
		"<label for="+baseName+"-slider id="+baseName+"-slider-label>Weight: </label>" +
		"<input type=range min=1 max=6 value=1 class=slider id="+baseName+"-slider oninput=setSliderLabel('"+baseName+"-slider')>"+ 
		"<em id="+baseName+"-slider-value style='font-style: normal;'>1</em>"+
		"<br id="+baseName+"-linebreak>";

	}
</script>

<script type="text/javascript">
	function removeCustomReq(reqType){
		let varName = reqType + "-custom-req-count"
		let num = localStorage.getItem(varName);
		num = parseInt(num) - 1;
		
		if(num < 0){
			num = 0;
		}
		localStorage.setItem(varName, num);
		
		let baseName = reqType + "-custom-req-" + num;
		let containerName = reqType + "-custom-requirements";
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-label"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-slider-label"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-slider"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-slider-value"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-linebreak"));
	}
</script>

<script type="text/javascript">
	function setSliderLabel(sliderID){
		let val = document.getElementById(sliderID).value;
		let sliderValue = sliderID + "-value";
		if(val == 6){
			document.getElementById(sliderValue).innerHTML = "Required";
		} else {
			document.getElementById(sliderValue).innerHTML = val;
		}
	}
</script>

<div class="container">
	<h1>Add Job Requirements</h1>
		<form id="reqForm" action="/addreqs" method="post">
	
		{{#if jobTitle}}<p>Job Title: {{jobTitle}}</p>{{/if}}
		{{#if location}}<p>Location: {{location}}</p>{{/if}}
		{{#if salary}}<p>Salary: ${{salary}}</p>{{/if}}
		{{#if listingType}}<p>Listing Type: {{listingType}}</p>{{/if}}
				
		<h2>EDUCATION</h2>
		<hr>
		
		<label for="education-combo">Education Level:</label>
		<select name="education-combo">
			<option value="highschool">High school</option>
			<option value="associates">Associate's Degree</option>
			<option value="bachelors">Bachelor's Degree</option>
			<option value="masters">Master's Degree</option>
			<option value="doctorate">Doctorate Degree</option>
		</select>

		<label for="education-slider">Weight:</label>
		<input type="range" min="1" max="6" value="1" class="slider" id="education-slider" oninput="setSliderLabel('education-slider')">
		<em id="education-slider-value" style="font-style: normal;">1</em>
		<br>
		
		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('education')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('education')"> <i class="fas fa-trash"></i> Remove</button>
		

		<div id="education-custom-requirements">

		</div>
		
		<h2>EXPERIENCE</h2>
		<hr>
		
		<label for="experience-combo">Years of Experience:</label>
		<select name="experience-combo">
			<option value="0">0-1</option>
			<option value="1">2-3</option>
			<option value="2">4-7</option>
			<option value="2">7-12</option>
			<option value="3">13+</option>
		</select>
		
		<label for="experience-slider">Weight:</label>
		<input type="range" min="1" max="6" value="1" class="slider" id="experience-slider" oninput="setSliderLabel('experience-slider')">
		<em id="experience-slider-value" style="font-style: normal;">1</em>
		<br>
		

		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('experience')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('experience')"> <i class="fas fa-trash"></i> Remove</button>
		
		<div id="experience-custom-requirements">

		</div>
		
		
		<h2>SKILLS</h2>
		<hr>
		
		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('skills')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('skills')"> <i class="fas fa-trash"></i> Remove</button>
		

		<div id="skills-custom-requirements">

		</div>
		
		
		<h2>CERTIFICATIONS</h2>
		<hr>
		
		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('certifications')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('certifications')"> <i class="fas fa-trash"></i> Remove</button>
		

		<div id="certifications-custom-requirements">

		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-primary mr-2">Submit</button>
			<button type="button" class="btn btn-secondary">Cancel</button>
		</div>
		
	</form>
</div>