<script type="text/javascript">
	localStorage.setItem("education-custom-req-count", 0);
	localStorage.setItem("experience-custom-req-count", 0);
	localStorage.setItem("skills-custom-req-count", 0);
	localStorage.setItem("certifications-custom-req-count", 0);
</script>

<script type="text/javascript">
	function insertCustomReq(reqType){
		let varName = reqType + "-custom-req-count"
		let num = localStorage.getItem(varName);
		localStorage.setItem(varName, parseInt(num) + 1);
		
		let baseName = reqType + "-custom-req-" + num;
		let containerName = reqType + "-custom-requirements";

		document.getElementById(reqType + '-num-requirements').value = localStorage.getItem(varName);

		let txtlabel = document.createElement("label");
    txtlabel.setAttribute("for", baseName);
    txtlabel.setAttribute("id", baseName + "-label");
    txtlabel.innerHTML = "Description: ";

    let txtinput = document.createElement("input");
    txtinput.setAttribute("type", "text");
    txtinput.setAttribute("id", baseName);
    txtinput.setAttribute("name", baseName);

    let sldrlabel = document.createElement("label");
    sldrlabel.setAttribute("for", baseName + "-slider");
    sldrlabel.setAttribute("id", baseName + "-slider-label");
    sldrlabel.innerHTML = "Weight: ";

    let sldrinput = document.createElement("input");
    sldrinput.setAttribute("type", "range");
    sldrinput.setAttribute("id", baseName + "-slider");
    sldrinput.setAttribute("name", baseName + "-slider");
    sldrinput.setAttribute("min", 1);
    sldrinput.setAttribute("max", 6);
    sldrinput.setAttribute("value", 1);
    sldrinput.setAttribute("class", "slider");
    sldrinput.setAttribute("oninput", "setSliderLabel('" + baseName + "-slider')");

    let sldrvalue = document.createElement("span");
    sldrvalue.setAttribute("id", baseName + "-slider-value");
    sldrvalue.innerHTML = 1;

    let linebreak = document.createElement("br");
    linebreak.setAttribute("id", baseName + "-linebreak");

    document.getElementById(containerName).appendChild(txtlabel);
    document.getElementById(containerName).appendChild(txtinput);
    document.getElementById(containerName).appendChild(sldrlabel);
    document.getElementById(containerName).appendChild(sldrinput);
    document.getElementById(containerName).appendChild(sldrvalue);
    document.getElementById(containerName).appendChild(linebreak);

	}
</script>

<script type="text/javascript">
	function removeCustomReq(reqType){
		let varName = reqType + "-custom-req-count"
		let num = localStorage.getItem(varName);
		num = parseInt(num) - 1;
		
		if(num < 0){
			num = 0;
		}
		localStorage.setItem(varName, num);
		
		let baseName = reqType + "-custom-req-" + num;
		let containerName = reqType + "-custom-requirements";

		document.getElementById(reqType + '-num-requirements').value = localStorage.getItem(varName);

		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-label"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-slider-label"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-slider"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-slider-value"));
		document.getElementById(containerName).removeChild(document.getElementById(baseName+"-linebreak"));
	}
</script>

<script type="text/javascript">
	function setSliderLabel(sliderID){
		let val = document.getElementById(sliderID).value;
		let sliderValue = sliderID + "-value";
		if(val == 6){
			document.getElementById(sliderValue).innerHTML = "Required";
		} else {
			document.getElementById(sliderValue).innerHTML = val;
		}
	}
</script>

<div class="container">
	<h1>Add Job Requirements</h1>
		<form id="reqForm" action="/addreqs" method="post">
	
		{{#if jobTitle}}<p>Job Title: {{jobTitle}}</p>{{/if}}
		{{#if location}}<p>Location: {{location}}</p>{{/if}}
		{{#if salary}}<p>Salary: ${{salary}}</p>{{/if}}
		{{#if listingType}}<p>Listing Type: {{listingType}}</p>{{/if}}
				
		<h2>EDUCATION</h2>
		<hr>
		
		<label for="education-combo">Education Level:</label>
		<select name="education-combo">
			<option value="High school">High school</option>
			<option value="Associate's Degree">Associate's Degree</option>
			<option value="Bachelor's Degree">Bachelor's Degree</option>
			<option value="Master's Degree">Master's Degree</option>
			<option value="Doctorate Degree">Doctorate Degree</option>
		</select>

		<label for="education-slider">Weight:</label>
		<input type="range" min="1" max="6" value="1" class="slider" id="education-slider" name="education-slider" oninput="setSliderLabel('education-slider')">
		<em id="education-slider-value" style="font-style: normal;">1</em>
		<br>
		
		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('education')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('education')"> <i class="fas fa-trash"></i> Remove</button>
		

		<div id="education-custom-requirements">

		</div>
		<input type="hidden" id="education-num-requirements" name="education-num-requirements" value="0">
		
		<h2>EXPERIENCE</h2>
		<hr>
		
		<label for="experience-combo">Years of Experience:</label>
		<select name="experience-combo">
			<option value="0-1">0-1</option>
			<option value="2-3">2-3</option>
			<option value="4-7">4-7</option>
			<option value="7-12">7-12</option>
			<option value="13+">13+</option>
		</select>
		
		<label for="experience-slider">Weight:</label>
		<input type="range" min="1" max="6" value="1" class="slider" id="experience-slider" name="experience-slider" oninput="setSliderLabel('experience-slider')">
		<em id="experience-slider-value" style="font-style: normal;">1</em>
		<br>
		

		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('experience')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('experience')"> <i class="fas fa-trash"></i> Remove</button>
		
		<div id="experience-custom-requirements">

		</div>
		<input type="hidden" id="experience-num-requirements" name="experience-num-requirements" value="0">
		
		
		<h2>SKILLS</h2>
		<hr>
		
		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('skills')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('skills')"> <i class="fas fa-trash"></i> Remove</button>
		

		<div id="skills-custom-requirements">

		</div>
		<input type="hidden" id="skills-num-requirements" name="skills-num-requirements" value="0">
		
		
		<h2>CERTIFICATIONS</h2>
		<hr>
		
		<p>Custom Requirements:</p>
		<button type="button" onclick="insertCustomReq('certifications')"> <i class="fas fa-plus"></i> Add</button>
		<button type="button" onclick="removeCustomReq('certifications')"> <i class="fas fa-trash"></i> Remove</button>
		

		<div id="certifications-custom-requirements">

		</div>
		<input type="hidden" id="certifications-num-requirements" name="certifications-num-requirements" value="0">
		
		<div class="form-group">
			<button type="submit" class="btn btn-primary mr-2">Submit</button>
			<button type="button" class="btn btn-secondary">Cancel</button>
		</div>
		
	</form>
</div>