<div class="container">
	<h1>Employer Login</h1>
	{{#if error}}<div class="alert alert-primary">{{error}}</div>{{/if}}
	<form id="loginForm" action="/login" method="post">
		<div class="form-row">
			<label for="userName">Username</label>
			<input type="text" class="form-control" id="userName" name="userName" required>
		</div>
		<div class="form-row">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
		<div class="form-row pt-3">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>
</div>