<div class="container"><h1>Homepage</h1></div>

<div class="container">
	<h5>Sign up or Login as</h5>

	<div class="form-row pt-3">
		<button type="employer" class="btn btn-primary mr-2">Employer</button>
		<button type="applicant" class="btn btn-primary mr-2">Applicant</button>
	</div>
</div>