<div class="container text-center">
<h1>Hire Fair</h1>

	<h5>Sign up or Login as</h5>

	<form id="chooseLoginForm" action="" method="post" class="form-inline justify-content-center">
		<div class="form-row pt-3">
			<button name="employer" type="employer" class="btn btn-primary mr-2">Employer</button>
			<button name="applicant" type="applicant" class="btn btn-primary mr-2">Applicant</button>
		</div>
	</form>
</div>
