<div class="container">
	<h1>Create a Listing</h1>
	{{#if error}}<div class="alert alert-primary">{{error}}</div>{{/if}}
	<form id="loginForm" action="/listing" method="post">
	<label class="pr-3" for="internal">Is this an internal job?</label>
		<div class="form-group form-check form-check-inline">
			<input type="checkbox" class="form-check-input" id="yes" name="internal" value="1"><label class="form-check-label">Yes</label>
		</div>
		<div class="form-group">
			<label for="JobTitle">Job Title</label>
			<input type="text" class="form-control" id="JobTitle" name="JobTitle" required>
		</div>
		<div class="form-group">
			<label for="location">Location</label>
			<input type="text" class="form-control" id="location" name="location" required>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" name="description" required>
		</div>
		<div class="form-group">
			<label for="deadline">Deadline</label>
			<input type="date" class="form-control" id="deadline" name="deadline" required>
		</div>
		<div class="form-group">
			<label for="salary">Salary</label>
			<input type="text" class="form-control" id="salary" name="salary" required>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" name="email" required>
		</div>
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="text" class="form-control" id="phone" name="phone" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary mr-2">Add Requirements</button>
		</div>
	</form>
</div>
