<div class="container">
	<h1>Create a Listing</h1>
	{{#if error}}<div class="alert alert-primary">{{error}}</div>{{/if}}
	<form id="loginForm" action="/listing" method="post">
		<div class="form-row">
			<label for="internal">Is this an internal job?</label> <br>
			<label class="radio-inline"><input type="radio" class="form-control" id="yes" name="internal"> Yes </label>
		</div>
		<div class="form-row">
			<label for="JobTitle">Job Title</label>
			<input type="text" class="form-control" id="JobTitle" name="JobTitle" required>
		</div>
		<div class="location">
			<label for="location">Location</label>
			<input type="text" class="form-control" id="location" name="location" required>
		</div>
		<div class="description">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" name="description" required>
		</div>
		<div class="deadline">
			<label for="deadline">Deadline</label>
			<input type="date" class="form-control" id="deadline" name="deadline" required>
		</div>
		<div class="salary">
			<label for="salary">Salary</label>
			<input type="text" class="form-control" id="salary" name="salary" required>
		</div>
		<div class="email">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" name="email" required>
		</div>
		<div class="phone">
			<label for="phone">Phone</label>
			<input type="text" class="form-control" id="phone" name="phone" required>
		</div>
		<div class="form-row pt-3">
			<button type="submit" class="btn btn-primary mr-2">Add Requirement</button>

		</div>
		<div class="form-row pt-3">
			<button type="submit" class="btn btn-primary mr-2">Submit</button>

		</div>
	</form>
</div>